NEXT_PUBLIC_CONTACT_API_URL=https://your-api-domain.com/landing/contact
MONGODB_URI=mongodb+srv://<username>:<password>@dev.dpi8u9w.mongodb.net/codemate_blog?retryWrites=true&w=majority
JWT_SECRET=
ADMIN_EMAIL=
ADMIN_PASSWORD=
CUSTOM_UPLOAD_ENDPOINT=https://your-api-domain.com/upload/image
